name: Sync to Gitee  # 工作流名称，会在Actions页面显示

on:  # 触发此工作流的条件
  push:  # 当有代码推送到以下分支时触发
    branches: [ main ]
  schedule:  # 定时任务，每天UTC时间2点自动同步一次（作为备份机制）
    - cron: '0 2 * * *'

jobs:  # 定义要执行的任务
  sync:  # 任务ID
    runs-on: ubuntu-latest  # 在最新的Ubuntu系统环境中运行
    steps:  # 任务内的步骤
    - name: Mirror to Gitee  # 步骤名称
      uses: wearerequired/git-mirror-action@v1  # 使用现成的镜像同步Action
      env:  # 设置环境变量
        SSH_PRIVATE_KEY: ${{ secrets.GITEE_SSH_PRIVATE_KEY }}  # 引用您稍后配置的SSH私钥
      with:  # 传递给上述Action的参数
        # 【重要】请将 `autogen` 替换为您在Gitee上创建的仓库的实际名称！
        destination-repo: git@gitee.com:jiaolonghunter/autogen.git
